<h3>About</h3>
<div>
    <h4>CanDeactivate</h4>
    <p>
        CanDeactivate также позволяет управлять переходами. 
        Он предназначен для таких, к примеру, случаев когда 
        пользователь вводит какие-то данные, однако не сохраняет 
        их и покидает страницу. В этом случае мы могли бы выдать 
        пользователю какое-либо предупреждение или окно с 
        подтверждением перехода, чтобы избежать потери 
        введенных данных.
    </p>
    <p>
        То есть, если сравнивать с CanActivate, 
        CanActivate проверяет возможность перехода на 
        определенный компонент, 
        а CanDeactivate проверяет возможность ухода с 
        определенного компонента.
    </p>
    <p>
        При попытке ухода с компонента AboutComponent 
        (если saved == false), мы увидим диалоговое окно 
        для подтверждения перехода.
    </p>
</div>
<button class="btn btn-default" (click)="save()">Сохранить</button>