<div>
    <h3>Создание атрибутивных директив:</h3>
    <p>
        Атрибутивные директивы меняют поведение элемента, 
        к которому они применяются. 
        Например, директива ngClass позволяет установить для 
        элемента класс CSS. 
        При этом сама директива применяется к элементу в 
        виде атрибута.
    </p>
    <p bold>
        Здесь применяется новосозданная директива BoldDirective. 
        Поскольку в коде директивы был определен селектор 
        "[bold]", то чтобы ее применить, в коде элемента 
        применяется данный селектор.
    </p>
    <p mouseBold>
        Кроме простой установки значений атрибутивная 
        директива может взаимодействовать с пользователем. 
        Для этого применяется декоратор HostListener.
    </p>
    <p>
        Декоратор @HostListener позволяет связать события DOM
        и методы директивы.
        В частности, в декоратор передается название события,
        по которому будет вызываться метод.
        В данном случае мы привязываем события
        mouseenter (наведения указателя мыши на элемент) и
        mouseleave (уведение указателя мыши с элемента)
        к методу setFontWeight(), который устанавливает
        стилевое свойство font-weight у элемента.
        Если мы наводим на элемент, то устанавливается
        выделение жирным.
        При отводе мыши выделение сбрасывается.
    </p>
    <h3>HostBinding:</h3>
    <p mouseBindBold>
        Еще один декоратор - HostBinding позволяет связать 
        обычное свойство класса со свойством элемента, 
        к которому применяется директива. 
    </p>
    <p>
        Инструкция @HostBinding("style.fontWeight") 
        get getFontWeight() связывает со свойством 
        "style.fontWeight" значение, которое возвращается 
        этим геттером getFontWeight. 
        А он возвращает значение свойства fontWeight, 
        которое также меняется при наведении указателя мыши.
    </p>
    <h3>Свойство host:</h3>
    <p boldHost>
        Вместо применения декораторов HostListener и 
        HostBinding для реагирования директивы на действия 
        пользователя мы можем определить обработчики событий 
        в декораторе Directive с помощью его свойства host.
    </p>
    <p>
        Результат работы директивы в данном случае будет 
        аналогичен, только теперь все события и связанные 
        с ними обработчики определяются с помощью параметра 
        host.
    </p>
    <h3>Получение параметров в директивах:</h3>
    <p>
        Директива как и компонент может получать некоторые 
        входные параметры извне. Для этого также 
        используется декоратор Input.
    </p>
    <div>
        <p [boldInput] = "'bold'" [selectSize] = "'20px'" [defaultSize] = "'16px'">
            При применении директивы мы можем указать все 
            входные параметры и их значения.
            При этом названия параметров заключаются в 
            квадратные скобки, а их значения дополнительно 
            заключаются в одинарные кавычки. 
            И при наведении на элемент автоматически будет 
            меняться жирность и высота шрифта.
        </p>
    </div>
</div>