<h2>Сервисы:</h2>
<div>
    <p>
        Сервисы в Angular представляют довольно широкий спектр 
        классов, которые выполняют некоторые специфические задачи, 
        например, логгирование, работу с данными и т.д.
        В отличие от компонентов и директив сервисы не работают 
        с представлениями, то есть с разметкой html, 
        не оказывают на нее прямого влияния. Они выполняют строго 
        определенную и достаточно узкую задачу.
    </p>
    <ul>
        <h4>Стандартные задачи сервисов:</h4>
        <li>
            Предоставление данных приложению. <br>
            Сервис может сам хранить данные в памяти, 
            либо для получения данных может обращаться к 
            какому-нибудь источнику данных, например, 
            к серверу.
        </li>
        <li>
            Сервис может представлять канал взаимодействия 
            между отдельными компонентами приложения.
        </li>
        <li>
            Сервис может инкапсулировать бизнес-логику, 
            различные вычислительные задачи, задачи 
            по логгированию, которые лучше выносить из 
            компонентов. 
            Тем самым код компонентов будет сосредоточен 
            непосредственно на работе с представлением. 
            Кроме того, тем самым мы также можем решить проблему 
            повторения кода, если нам потребуется выполнить 
            одну и ту же задачу в разных компонентах и классах.
        </li>
    </ul>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="name" placeholder="Phone model">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" type="number" [(ngModel)]="price" placeholder="Phone price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="addItem(name, price)">Добавить</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Модель</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Внедрение сервиса в другой сервис:</h3>
    <p>
        Вполне вероятна ситуация, когда мы захотим 
        использовать один сервис в другом сервисе.
    </p>
    <p>
        Hесмотря на то, что напрямую LogService не 
        используется в компоненте AppComponent, но он 
        используется в DataService, который вызывается в 
        ServiceComponent.
        И при выполнении операций с данными в консоли 
        браузера мы сможем увидеть работу сервиса LogService.
    </p>
</div>
<div>
    <h3>Один сервис для нескольких компонентов:</h3>
    <p>
        Вполне возможно, что в нашем приложении будет 
        несколько различных компонентов, которые используют 
        сервисы. При этом компоненты могут использовать 
        одни и те же сервисы. 
    </p>
    <p>
        Используем этот компонент DataComponent в компоненте 
        приложения ServiceComponent:
    </p>
    <app-data-comp></app-data-comp>
    <p>
        При добавлении в одном компоненте новый элемент 
        будет добавляться только для этого компонента. 
        Потому что у нас два отдельных компонента, 
        и для каждого из них будет создаваться свой набор 
        сервисов DataService и LogService.
    </p>
    <p>
        Такое поведение не всегда может быть предпочтительным.
        Возможно, потребуется, чтобы компоненты использовали 
        один и тот же объект сервиса, вместо создания разных 
        сервисов для каждого компонента.
        Для этого мы можем зарегистрировать все сервисы не 
        в компоненте, а в главном модуле приложения ServiceModule.
        В этом случае мы уже можем убрать регистрацию 
        сервисов из компонента DataComponent. 
    </p>
    <p>
        После этого оба объекта DataComponent будут 
        использовать один и тот же сервис DataService.
        Поэтому добавление объекта в одном компоненте 
        автоматически отразится и на другом.
    </p>
</div>
