<h2>HTTP и взаимодействие с сервером</h2>
<p>
    {{ winScroll }}
</p>
<ul class="nav flex-column">
    <li routerLinkActive = "active">
        <a routerLink = "/http/sending-requests">HttpClient и отправка запросов</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/http/observable-in-http">Объект Observable и библиотека RxJS</a>
    </li>
    <!-- <li routerLinkActive = "active">
        <a routerLink = "/services">Сервисы</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/forms">Формы</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/http">HTTP и взаимодействие с сервером</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/test">Tests</a>
    </li> -->
</ul>
<hr>
<router-outlet></router-outlet>
<app-to-top-comp></app-to-top-comp>