<h2>Основы Angular:</h2>
<ul class="nav flex-column">
    <li routerLinkActive = "active">
        <a routerLink = "/basic/components">Компоненты</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/basic/bindings">Привязки</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/basic/lifecycle">Жизненый цикл</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/basic/template-variables">Шаблонные переменные</a>
    </li>
</ul>
<div>
    <router-outlet></router-outlet>
</div>
<!-- <p>
    Для ngOnChanges:
</p>
<input type = "text" [(ngModel)] = "lcName"/> -->