<h3>ngFor:</h3>
<p>
    Директива ngFor позволяет перебрать в шаблоне элементы 
    массива.
</p>
<p>
    В качестве значения директива принимает значение перебора 
    аля-foreach: let item of items. 
    Каждый перебираемый элемент помещается в переменную item, 
    которую мы можем вывести на страницу.
    При переборе элементов нам доступен текущий индекс 
    элемента через переменную index, которую мы также можем 
    использовать.
</p>
<ul>
    <li *ngFor="let item of items; let i = index">{{ i+1 }}. {{ item }}</li>
</ul>
<h3>Символ звездочки и синтаксический сахар:</h3>
<p>
    Можно заметить, что при использовании директив ngFor и 
    ngIf перед ними ставится символ звездочка. 
    По факту это не более чем синтаксический сахар, 
    который упрощает применение директивы.
</p>
<h3>ngSwitch:</h3>
<p>
    С помощью директивы ngSwitch можно встроить в шаблон 
    конструкцию switch..case и в зависимости от ее результата 
    выполнения выводить тот или иной блок.
</p>
<p>
    Директива ngSwitch в качестве значения принимает 
    некоторое выражение. В данном случае это свойство count. 
    В элемент template помещается инструкция ngSwitchCase, 
    которая сравнивает значение выражения из ngSwitch с 
    другим выражением. Если оба выражения равны, то 
    используется данный элемент template. 
    Иначе выполнение переходит к следующим инструкциям 
    ngSwitchCase. Если же ни одна из инструкций ngSwitchCase 
    не была выполнена, то вызывается инструкция 
    ngSwitchDefault.
</p>
<div [ngSwitch]="count">
    <div *ngSwitchCase="1">{{ count*10 }}</div>
    <div *ngSwitchCase="2">{{ count*100 }}</div>
    <div *ngSwitchDefault>{{ count*1000 }}</div>
</div>
