<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="isButton">
  <hr>
  <app-gohome-button-comp></app-gohome-button-comp>
</div>
<hr>
<div [ngClass]="{jumbotron: isJumbotron}">
  <div class="container">
      <div class="row">
        <div [ngClass]="{'col-sm-6 offset-sm-3': isJumbotron}">
          <app-auth-alert></app-auth-alert>
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="isButton">
  <app-goback-comp></app-goback-comp>
</div>
<div *ngIf="isScroll">
  <hr>
  <app-to-top-comp></app-to-top-comp>
</div>
