<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Menu</h2>
<ul class="nav">
    <li routerLinkActive = "active">
        <a routerLink = "/basic">Основы</a>
    </li>
    <li routerLinkActive = "directives">
        <a routerLink = "/directives">Директивы</a>
    </li>
    <li routerLinkActive = "directives">
        <a routerLink = "/services">Сервисы:</a>
    </li>
    <li routerLinkActive = "active">
        <a routerLink = "/test">Tests</a>
    </li>
</ul>
<router-outlet></router-outlet>
