<h3>Guards</h3>
<p>
    Guards позволяют ограничить навигацию по определенным 
    маршрутам. Например, если для доступа к определенному 
    ресурсу требуется наличие аутентификации или наличие 
    каких-то других условий, в зависимости от которых мы 
    можем предоставить пользователю доступ, а можем и 
    не предоставить. 
    То есть guards защищают доступ к ресурсу, собственно 
    поэтому данные элементы и названы так: "guards", 
    что с английского можно перевести как "защитники".
</p>
<div>
    <h4>CanActivate</h4>
    <p>
        CanActivate представляет один из типов guards, 
        который позволяет управлять доступом к ресурсу 
        при маршрутизации. 
    </p>
    <p>
        При попытке перехода по маршруту "routings/guards/about", 
        отобразится диалоговое окно с подтверждением перехода.
    </p>
    <a routerLink="about">О сайте</a>
</div>
<!-- <div>
    <h4>CanDeactivate</h4>
    <p>
        CanDeactivate также позволяет управлять переходами. 
        Он предназначен для таких, к примеру, случаев когда 
        пользователь вводит какие-то данные, однако не сохраняет 
        их и покидает страницу. В этом случае мы могли бы выдать 
        пользователю какое-либо предупреждение или окно с 
        подтверждением перехода, чтобы избежать потери 
        введенных данных.
    </p>
    <p>
        То есть, если сравнивать с CanActivate, 
        CanActivate проверяет возможность перехода на 
        определенный компонент, 
        а CanDeactivate проверяет возможность ухода с 
        определенного компонента.
    </p>
    <p>
        При попытке ухода с компонента AboutComponent 
        (если saved == false), мы увидим диалоговое окно 
        для подтверждения перехода.
    </p>
</div>  -->
