<h3>Объект Observable и библиотека RxJS</h3>
<p>
    Методы класса HttpClient после выполнения запроса 
    возвращают объект Observable any, который определен в 
    библиотеке RxJS ("Reactive Extensions"). 
    Она не является непосредственно частью Angular, 
    однако широко используется особенно при взаимодействии 
    с сервером по http. 
    Эта библиотека реализует паттерн "асинхронный наблюдатель" 
    (asynchronous observable). 
    Так, выполнение запроса к серверу с помощью класса 
    HttpClient выполняются в асинхронном режиме.
</p>
<p>
    Естественно чтобы задействовать функционал RxJS в 
    приложении, в проект должна быть добавлена 
    соответствующая зависимость "rxjs".
</p>
<p>
    Используя специальные методы для объекта Observable, 
    например, map и filter, можно произвести некоторую 
    постобработку полученных от сервера результатов.
</p>
<p>
    Смысл использования специального сервиса для работы с 
    http заключается в сокрытии деталей отправки запросов. 
    Компонент же ожидает получить какие-то конкретные данные, 
    например, в виде набора объектов User. 
    С помощью метода "map" библиотеки rxjs можно 
    преобразовать данные из одного формата в другой.
</p>
<div>
    <ul>
        <li *ngFor="let user of users">
        <p>Имя пользователя: {{user?.name}}</p>
        <p>Возраст пользователя: {{user?.age}}</p>
        </li>
    </ul>
</div>