<div id="myApps">
    <h2>Here are some my Apps</h2>
    <nav class="nav flex-column">
        <ul>
            <li>
                <a routerLink = 'calculator'>Calculator</a>
            </li>
            <li>
                <a routerLink = 'bookstore'>Bookstore</a>
            </li>
            <li>
                <a routerLink = 'drum-machine'>Drum-Machine</a>
            </li>
            <li>
                <a routerLink = 'random-qoute'>Random-Quote</a>
            </li>
        </ul>
    </nav>
</div>
