<h3>Прявязки:</h3>
<h4>В Angular есть четыре формы привязки данных:</h4>
<div>
    <span class="punkt">1.</span>
    <p class="p-inline"> Привязка элемента DOM к значению компонента 
        (односторонняя). В двойных фигурных скобках указывается 
        выражение, к которому идет привязка. Например:</p>
    <h4>Добро пожаловать {{ name }}!</h4>
</div>
<div>
    <span class="punkt">2.</span>
    <p class="p-inline">Привязка свойства элемента html к значению 
        компонента (односторонняя). Например:</p>
    <input type="text" [value]="name" />
    <p>Но важно понимать, что здесь идет привязка не к атрибуту, 
        а именно к свойству элемента в javascript, который 
        представляет данный элемент html. 
        Например, мы могли бы привязать некоторое значение к 
        текстовому содержимому элемента:</p>
    <p [textContent]="name"></p>
    <p>У html-элемента " p " нет атрибута textContent. 
        Зато у интерфейса Node, который представляет данный элемент 
        DOM, есть свойство textContent, к которому мы можем 
        осуществить привязку.</p>
</div>
<div>
    <span class="punkt">3.</span>
    <p class="p-inline">Привязка метода компонента к событию в DOM 
        (генерация события в DOM вызывает метод на компоненте)
        (односторонняя). Например:</p><br>
    <button (click)="increase()">Click</button>
    <p>В шаблоне определен элемент button, у которого есть событие 
        click. Для обработки этого события в классе BindingsComponent 
        определен метод increase(), который увеличивает количество 
        условных кликов. В итоге при нажатии на кнопку сработает 
        данный метод.</p>
    <p>В качестве альтернативы мы могли бы установить привязку к 
        событию, так - после префикса on через дефис идет название 
        события:</p>
    <button on-click="increase()">Click</button>
    <p>Мы также можем передавать информацию о событии через объект 
        $event:</p>
    <button (click)="increase($event)">Click</button>
    <p>$event - это встроенный объект, через который Angular 
        передает информацию о событии.</p>
</div>
<div>
    <span class="punkt">4.</span>
    <p class="p-inline">Двусторонняя привязка, когда элемент DOM 
        привязан к значению на компоненте, при этом изменения на 
        одном конце привязки сразу приводят к изменениям на другом 
        конце. 
        Как правило, двусторонняя привязка применяется при работе с 
        элементами ввода, например, элементами типа input. Например:</p><br>
    <input type = 'text' [(ngModel)] = 'name' placeholder = 'name'>
</div>