<h2>Шаблонные переменные (ViewChild и ContentChild):</h2>
<p>
    Шаблонные переменные позволяют определить некоторые 
    переменные внутри шаблона компонента и затем ссылаться к 
    этим переменным из этого же шаблона. 
    Для определения подобных переменных применяется знак 
    решетки (#).
</p>
<div>
    <!-- Определение переменной выглядит следующим образом: -->
    <p #userName>{{ name }}</p>
    <p>
        Определение переменной userName в элементе параграфа 
        означает, что она будет представлять данный параграф, 
        то есть элемент p разметки html. И далее мы можем 
        обращаться к этому параграфу через данную переменную. 
        Например, через свойство userName.textContent можно 
        получить текстовое содержимое параграфа.
    </p>
    <p>{{ userName.textContent }}</p>
    <p>
        При этом, если привязанное к параграфу значение 
        переменной name изменится, то соответственно изменится 
        и значение userName.textContent
    </p>
    <input type="text" [(ngModel)] = 'name' placeholder = 'name'/>
    <p>
        При этом данную переменную мы можем использовать только 
        внутри шаблона.
    </p>
</div>
<div>
    <p>
        Использование шаблонных переменных открывает нам 
        дополнительный способ взаимодействия между родительским и 
        дочерним компонентом. 
    </p>
    <p>
        Вызываем дочерний компонент. В данном случае шаблонная 
        переменная counter, определенная внутри тега 
        app-template-var-child-comp, поэтому она будет 
        представлять компонент TempateVarsChildComponent.
        Соответственно далее мы можем ссылаться к компоненту 
        TempateVarsChildComponent через эту переменную, например, 
        установить для событий кнопок привязку к методам 
        TempateVarsChildComponent. 
        В итоге по нажатию на кнопки в компоненте будут 
        вызываться методы из дочернего компонента:
    </p>
    <app-template-var-child-comp #counter></app-template-var-child-comp>
    <button (click)="counter.increment()">+</button>
    <button (click)="counter.decrement()">-</button>
</div>
<div>
    <p>
        Однако шаблонные переменные имеют свои ограничения: 
        они не могут применяться вне шаблона, даже в коде 
        класса компонента.
        Для класса TemplateVariablesComponent свойства 
        this.counter не существует - оно существует только 
        для шаблона.
    </p>
    <h3>ViewChild:</h3>
    <p>
        Чтобы все таки иметь возможность обращаться к методам 
        и прочей функциональности дочернего компонента, 
        надо использовать декоратор ViewChild в родительском 
        компоненте.
    </p>
    <p>
        С помощью применения к нему декоратора ViewChild к
        свойству counterComponent мы устанавливаем, что это
        свойство будет содержать объект дочернего компонента,
        который внедряется через элемент
        app-viewchild-comp /app-viewchild-comp.
        И в этом случае мы уже можем не использовать шаблонные
        переменные в шаблоне.
    </p>
    <app-viewchild-comp></app-viewchild-comp>
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
</div>
<div>
    <h3>Привязка ViewChild к шаблонным переменным:</h3>
    <p>
        Несмотря на то, что выше мы не использовали переменные, 
        тем не менее с помощью декоратора ViewChild также можно 
        связать свойство и переменную из шаблона.
    </p>
    <p>
        B шаблоне определяется переменная nameText, которая 
        представляет код параграфа. 
        А в декоратор ViewChild передается имя этой переменной. 
        Поэтому свойство nameParagraph, к которому применяется 
        декоратор, будет указывать на эту переменную nameText. 
        Причем свойство nameParagraph представляет тип 
        ElementRef, который используется для ссылки на 
        элементы html.
    </p>
    <p #textName>{{ name }}</p>
    <p>{{ textName.textContent }}</p>
    <p>
        По нажатию на кнопку выводится и изменяется текстовое 
        содержимое этой переменной.
    </p>
    <button (click) = 'change()'>Change</button>
</div>
<div>
    <h3>ContentChild:</h3>
    <p>
        Кроме ViewChild для связи с шаблонными переменными 
        мы можем применять другой декоратор - ContentChild. 
    </p>
    <p>
        Здесь определена переменная #headerContent, 
        которая указывает на элемент заголовка h4.
        Причем поскольку данные из родительского компонента 
        передаются в дочерний напрямую, то для получения 
        этих данных в дочернем компоненте будет 
        использоваться элемент ng-content.
    </p>
    <p>
        чтобы получить переменные, которые передаются с кодом 
        через ng-content, дочерний компонент применяет 
        декоратор ContentChild. 
        В этот декоратор также передается название переменной. 
        Само свойство декоратора также представляет 
        объект ElementRef. 
        И далее мы можем манипулировать этим объектом.
    </p>
    <app-content-child-comp>
        <h4 #headerContent>Welcome {{ name }}!!!</h4>
    </app-content-child-comp>
</div>