<h2>Жизненый цикл компонентов:</h2>
<p>
    После создания компонента фреймворк Angular вызывает у 
    этого компонента ряд методов, которые представляют 
    различные этапы жизненного цикла:
</p>
<div>
    <span class="punkt">1. ngOnChanges</span>
    <p> 
        ngOnChanges вызывается до метода ngOnInit() при 
        начальной установке свойств, которые связаны механизмом 
        привязки, а также при любой их переустановке или 
        изменении их значений. 
        Данный метод в качестве параметра принимает объект 
        класса SimpleChanges, который содержит предыдущие и 
        текущие значения свойства.
    </p>
    My import name is: {{ lcName }}
    <br>
    <input type="text" [(ngModel)]="name">
    My name is: {{ name }}
    <p>
        Данный метод вызывается только при изменении входных 
        свойств с декоратором @Input. 
    </p>
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">2. ngOnInit</span>
    <p> 
        ngOnInit вызывается один раз после установки свойств 
        компонента, которые участвуют в привязке. 
        Выполняет инициализацию компонента.
        <br>
        Метод ngOnInit() применяется для какой-то комплексной 
        инициализации компонента. Здесь можно выполнять 
        загрузку данных с сервера или из других источников 
        данных.
        <br>
        ngOnInit() не аналогичен конструктору. 
        Конструктор также может выполнять некоторую 
        инициализацию объекта, в то же время что-то сложное в 
        конструкторе делать не рекомендуется. 
        Конструктор должен	быть по возможности простым и 
        выполнять самую базовую инициализацию. 
        Что-то более сложное, например, загрузку данных с 
        сервера, которая может занять продолжительное время, 
        лучше делать в методе ngOnInit.
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">3. ngDoCheck</span>
    <p> 
        ngDoCheck вызывается при каждой проверке изменений 
        свойств компонента сразу после методов ngOnChanges и 
        ngOnInit.
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">4. ngAfterContentInit</span>
    <p> 
        ngAfterContentInit вызывается один раз после метода 
        ngDoCheck() после вставки содержимого в представление 
        компонента кода html.
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">5. ngAfterContentChecked</span>
    <p> 
        ngAfterContentChecked вызывается фреймворком Angular 
        при проверке изменений содержимого, которое добавляется 
        в представление компонента. 
        Вызывается после метода ngAfterContentInit() и и после 
        каждого последующего вызова метода ngDoCheck().
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">6. ngAfterViewInit</span>
    <p> 
        ngAfterViewInit вызывается фреймворком Angular после 
        инициализации представления компонента, а также 
        представлений дочерних компонентов. 
        Вызывается только один раз сразу после первого 
        вызова метода ngAfterContentChecked()
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">7. ngAfterViewChecked</span>
    <p> 
        ngAfterViewChecked вызывается фреймворком Angular после 
        проверки на изменения в представлении компонента, а 
        также проверки представлений дочерних компонентов.
        Вызывается после первого вызова метода ngAfterViewInit() 
        и после каждого последующего вызова ngAfterContentChecked()
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
<div>
    <span class="punkt">8. ngOnDestroy</span>
    <p> 
        ngOnDestroy вызывается перед тем, как фреймворк Angular 
        удалит компонент.И в этом методе можно освобождать те 
        используемые ресурсы, которые не удаляются 
        автоматически сборщиком мусора. 
        Здесь также можно удалять подписку на какие-то события 
        элементов DOM, останавливать таймеры и т.д.
    </p>
    
    <!-- <h4>Добро пожаловать {{ name }}!</h4> -->
</div>
