<h3>Test1:</h3>
<!-- <div class="calculator">
    <input type="text" [value]="value">
    <table>
        <tr>
            <td><button (click) = 'clickNum($event)'>1</button></td>
            <td><button (click) = 'clickNum($event)'>2</button></td>
            <td><button (click) = 'clickNum($event)'>3</button></td>
            <td><button (click) = 'clickSign($event)'>+</button></td>
            <td><button (click) = 'clickSign($event)'>-</button></td>
        </tr>
        <tr>
            <td><button (click) = 'clickNum($event)'>4</button></td>
            <td><button (click) = 'clickNum($event)'>5</button></td>
            <td><button (click) = 'clickNum($event)'>6</button></td>
            <td><button (click) = 'clickSign($event)'>*</button></td>
            <td><button (click) = 'clickSign($event)'>/</button></td>
        </tr>
        <tr>
            <td><button (click) = 'clickNum($event)'>7</button></td>
            <td><button (click) = 'clickNum($event)'>8</button></td>
            <td><button (click) = 'clickNum($event)'>9</button></td>
            <td><button (click) = 'clickNum($event)'>0</button></td>
            <td><button (click) = 'clickSign($event)'>=</button></td>
        </tr>
    </table>
</div> -->
