<h3>Состояние модели:</h3>
<p>
    Применение директивы ngModel не только устанавливает 
    привязку данных, но и позволяет отслеживать состояние 
    элемента ввода.
</p>
<p>
    Для установки состояния Angular применяет 
    к элементам ввода специальные классы CSS:
</p>
<ul>
    <li>
        Если элемент ввода еще не получал фокус, то 
        устанавливается класс ng-untouched. 
        Если же поле ввода уже получало фокус, то к нему 
        применяется класс ng-touched. 
        При этом получение фокуса не обязательно должно 
        сопровождаться изменением значения в этом поле.
    </li>
    <li>
        Если первоначальное значение в поле ввода было 
        изменено, то устанавливается класс ng-dirty. 
        Если же значение не изменялось с момента загрузки 
        страницы, то к элементу ввода применяется класс 
        ng-pristine.
    </li>
    <li>
        Если значение в поле ввода корректно, то применяется 
        класс ng-valid. 
        Если же значение некорректно, то применяется 
        класс ng-invalid
    </li>
</ul>
<p>
    Например, при запуске веб-страницы для элемента ввода:
    <br>
    <i>
        input class="form-control" name="title" [(ngModel)]="title"
    </i>
    <br>
    Будет генерироваться следующая разметка html:
    <br>
    <i>
        input class="form-control ng-untouched ng-pristine ng-valid" name="title" ng-reflect-name="title"
    </i>
</p>
<h3>Валидация:</h3>
<p>
    Перед тем как отправить форму, нам надо удостовериться, 
    что данная форма содержит корректные значения. 
    Для проверки используется механизм валидации.
</p>
<p>
    В Angular 2 мы можем использовать валидацию HTML5, 
    которая применяется в виде атрибутов:
</p>
<ul>
    <li>
        <b>required:</b> требует обязательного ввода значения
    </li>
    <li>
        <b>pattern:</b> задает регулярное выражение, 
        которому должны соответствовать вводимые данные
    </li>
</ul>
<p>
    Каждое поле ввода связано с определенным свойством 
    объекта User. 
    И также для каждого поля определены правила валидации 
    в виде атрибутов required и pattern. 
    И рядом с каждым полем ввода определен специальный блок 
    для вывода ошибки.
    Там проверяется валидность поля. 
    Для этого мы берем переменную поля, которая представляет 
    связанный с полем ввода объект NgModel (#email="ngModel"), 
    и смотрим на свойства valid и untouched у этого объекта. 
    Если хотя бы одно из этих свойств равно true, то атрибут 
    hidden тоже равен true. А это значит, что блок div будет 
    скрыт. То есть если поле для ввода email валидно, 
    то блок скрывается. Иначе мы видим сообщение об ошибке.
</p>
<p>
    В принципе для проверки корректности нам достаточно 
    посмотреть на свойство valid. Однако не всегда может 
    желательно сразу отображать ошибку при загрузке страницы. 
    В данном же случае мы смотрим на валидность, если поле 
    ввода уже получало фокус.
</p>
<div> 
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required />
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            Не указано имя
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" 
            required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
            Некорректный email
        </div>
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" 
            required pattern="[0-9]{10}" />
        <div [hidden]="phone.valid || phone.untouched" class="alert alert-danger">
            Некорректный телефон
        </div>
    </div>
    <p>
        В то же время несмотря на наличие ошибок валидации 
        мы можем нажать на кнопку и выполнить метод addUser(), 
        который обработает введенные данные. 
        Однако поскольку данные некорректны, любая обработка 
        будет бессмысленной.
        И в этом случае можно отключить кнопку. 
        Для этого опять же можно применить проверку на 
        валидность полей.
    </p>
    <p>
        С помощью выражения [disabled]="name.invalid || 
        email.invalid || phone.invalid" для атрибута 
        disabled устанавливается значение true, то есть 
        кнопка отключается, если хотя бы одно из полей не 
        валидно.
    </p>
    <div class="form-group">
        <button [disabled]="name.invalid || email.invalid || phone.invalid"
            class="btn btn-default" (click)="addUser()">
            Добавить
        </button>
    </div>
</div>
<h3>Стилизация ошибок валидации:</h3>
<p>
    Выше применялись стили bootstrap для стилизации 
    отображения ошибок. 
    Однако используя классы ng-valid и ng-invalid, мы можем 
    задать дополнительные возможности по стилизации. 
</p>
<div> 
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" 
            required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" 
            required pattern="[0-9]{10}" />
    </div>
    <div class="form-group">
        <button [disabled]="name.invalid || email.invalid || phone.invalid"
                class="btn btn-default" (click)="addUser()">Добавить</button>
    </div>
</div>
<p>
    Так как валидация email является довольно 
    распространенной задачей, то начиная с версии Angular 4 
    был добавлен специальный валидатор email
</p>
<div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" 
        required email />
</div>